.app {
  text-align: center;
  padding-bottom: 10px;
}

.examples {
  width: 80vw;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 25px;
}

.hero {
  width: 80vw;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid deeppink;
}

.heroImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 32px;
}

.image {
  display: flex;
  max-width: 500px;
  align-self: center;
  justify-self: center;
}

input[type="file"] {
  display: none;
}

/* .button {
  background-color: rgb(58, 125, 212);
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
} */

.button {
  width: 250px;
  background: rgb(77, 6, 99);
  padding: 15px;
  margin: 5px;
  color: white;
  font: inherit;
  text-decoration: none;
  border-radius: 3px;
  align-self: center;
}
