.colors{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 3rem;
}

.swatch {
  background-color: blue;
  border-radius: 50%;
  max-width: 10rem;
  max-height: 10rem;
}