.colors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.swatchContainer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.swatch {
  all: unset;
  background-color: var(--bg-color);
  color: var(--color);
  flex-grow: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  padding: 14px 20px;
}
